body {
    background: #2f3437;
    position: relative;
    margin: 0;
    padding: 0;
}

form {
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.2) 0 5px 10px, rgba(15, 15, 15, 0.4) 0 15px 40px;
    border-radius: 3px;
    background: rgb(47, 52, 55) none repeat scroll 0 0;
}

input {
    margin-bottom: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.2) 0 0 0 1px inset, rgba(15, 15, 15, 0.2) 0 1px 1px inset;
    background: rgba(15, 15, 15, 0.3) none repeat scroll 0 0;
    cursor: text;
    border: none;
    color: white;
}

textarea:focus,
input:focus {
    outline: none;
}

#button {
    margin-bottom: 0;
    margin-top: 5px;
    user-select: none;
    transition: background 120ms ease-in 0s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
    height: 32px;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.2) 0 0 0 1px inset, rgba(15, 15, 15, 0.1) 0 1px 2px;
    background: rgb(46, 170, 220) none repeat scroll 0 0;
    color: white;
    fill: white;
    line-height: 1.2;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: 500;
}

#button:hover {
    background: rgb(6, 156, 205);
}

#button:active {
    background: rgb(0, 141, 190);
}

#container {
    margin: auto;
    margin-top: 200px;
    width: 230px;
    text-align: center;
}

#error_message {
    color: #9f5c58;
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#success_message {
    color: #3e7069;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.2) 0 5px 10px, rgba(15, 15, 15, 0.4) 0 15px 40px;
    border-radius: 3px;
    background: rgb(47, 52, 55) none repeat scroll 0 0;
}